<form action="/cats" method="post">
  
  <label for = "name"> Name </label>
  <input id = "name" type = "text" name = "cat[name]">
  <br>

  <label for = "sex"> Sex </label>
  <input type="radio" name="cat[sex]" value="M"> M
  <input type="radio" name="cat[sex]" value="F"> F
  <br>

  <label for = "color"> Color </label>
  <select id = "color" name="cat[color]">
  <option disable selected>--select a color--</option>
    <% Cat.colors.each do |color| %>
      <option value= "<%= color %>"> <%= color %> </option>
    <% end %>
  </select>
  <br>

  <label for = "birth_date"> Birth date </label>
  <input type="date" name="cat[birth_date]">
  <br>

  <label for = "description"> Description </label>
  <textarea name="cat[description]"></textarea>
  <br>

  <input type="submit" value="Create cat">
</form>
